* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .2s;
  font-family: sans-serif;
}

#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  width: 300px;
  padding: 50px 30px;
  border: 1px solid #000;
}

#form input {
  width: 100%;
}

#form input:not(:last-child) {
  margin-bottom: 20px;
}

.race {
  width: 600px;
  position: relative;
}

.users {
  list-style: none;
}

.progress {
  width: 100%;
  background-color: grey;
  position: relative;
  margin-bottom: 20px;
}

.login {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 300px;
  text-align: center;
  top: 5px;
  font-weight: bold;
  color: #fff;
}

.bar {
  width: 0%;
  height: 30px;
  background-color: green;
}

.users .me {
  color: blue;
}

.text p {
  font-size: 24px;
  padding: 30px;
  background-color: #eee;
  word-spacing: 5px;
}

.text p span {
  color: #888;
}

#textarea {
  width: 100%;
  height: 60px;
  resize: none;
  font-size: 18px;
}

#time,
#countdown {
  position: absolute;
  font-size: 80px;
  font-weight: bold;
  top: 50%;
  left: 50%;
}

#countdown {
  left: -150px;
}

#start {
  width: 100px;
  display: block;
  margin: 0 auto;
  font-size: 24px;
}

.winner {
  text-align: center;
  font-size: 32px;
}